.card {
  border: 1px solid black;

  &__content {
    padding: 20px;
  }

  &__title {
    font-size: 22px;
    font-weight: bold;
  }

  &__subtitle {
    padding: 5px 0 15px;
  }

  &__button {
    margin-right: 10px;
    padding: 8px 8px;
    border: 1px solid black;
    border-radius: 20px;
    &:hover {
      background-color: black;
      color: white;
    }
  }
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(188px, max-content));
  justify-content: space-between;
  gap: 16px;
}
