.header {
  background: $dark-blue;
  height: 116px;
  &__top {
  }

  &__bottom {
  }
}
.navigation {

  &__item {
    display: inline-block;
  }
}
.main {

  &__about {
  }

  &__bottom {
  }

  &__item {
  }
}
