html {
    font-family: sans-serif;
}

body {
  display: flex;
  padding: 20% 0;
  align-items: center;
  justify-content: center;
}

.vibrate {
  position: relative;
  left: 0;
  padding: 20px;
  font-size: 24px;
  text-transform: uppercase;
  animation-name: vibrate;
  animation-duration: 0.15s;
  border-radius: 6px;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border: solid black 1px;
}

@keyframes vibrate {
  0% { left: 0; }
  25% { left: -10px; }
  50% { left: 0; }
  75% { left: 10px; }
  100% { left: 0; }
}

.vibrate:hover {
  animation-play-state: paused;
  background-color: #36eb66;
  border-radius: 6px;
  border: solid black 1px;
}
