.btn {
  padding: 10px;
  border: 1px solid black;
  &.active {
    background: #000;
    color: $color-white;
  }
}

.btns {
  > * {
    margin: 5px;
  }
}

.btns-container {
  margin: 10px 0px;
  display: flex;
  gap: 60px;
}


.page {
  .descr {
    padding: 24px 0;
    font-size: 1.2rem;
  }
  .price {
    margin: 15px 0px;
    font-size: 2rem;
  }
}
