ul {
  display: block;
  margin: 0 auto;
  width: 200px;
  li a {
    &::before {
      content: '>';
      position: relative;
      left: -10px;
    }
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
}
